body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.validationErrors {
  background-color: crimson;
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.submitbuttons {
  width: 310px;
  background-color: #00b7ff;
  border-radius: 5px;
  border-color: #00b7ff;
}
